<div class="container">
  <h1 class="title"><a href="/">Today I Learned</a></h1>
  <div class="item">
    <h2 class="title">
      <a href="<%= item.output %>"><%= item.title %></a>
    </h2>
    <div class="content">
      <%= markdown(item.content) %>
    </div>
    <div class="footer">
      <div class="created-at">
        <%= l item.updated_at, format: :date %>
      </div>
    </div>
  </div>
</div>
