<h1 class="title">Today I Learned</h1>

<div class="container">
  <div class="items">
    <% Item.all.each do |item| %>
      <div class="item">
        <h2 class="title">
          <a href="/items/<%= item.segment %>.html"><%= item.title %></a>
        </h2>
        <div class="content">
          <%= markdown(item.content) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
